{% extends 'recipes/base.html' %}

{% block content %}

  <h1 class="about-heading" style="color: white;">Welcome to Tasty Tapestry</h1>

  <h2 class="section-heading" style="color: white;">About Us</h2>
  <p class="about-description" style="color: white;">
    At Tasty Tapestry, we are passionate about bringing the vibrant and diverse flavors of African cuisine to your kitchen. Our mission is to make cooking delicious and healthy African dishes easier and more accessible to everyone, from beginners to seasoned chefs.

    Whether you're craving traditional favorites or looking to explore new culinary adventures, our extensive collection of recipes has got you covered. From tantalizing stews to flavorful rice dishes, refreshing salads to delectable desserts, we have curated a treasure trove of authentic African recipes that will delight your taste buds.

    Our platform is designed to inspire and empower food enthusiasts of all levels, offering step-by-step instructions, helpful tips, and stunning visuals to guide you through each recipe. Discover the rich heritage and cultural heritage of Africa through its diverse cuisines, and unlock the secrets to creating impressive meals right in your own home.

    Join our passionate community of food lovers, share your own recipes, connect with fellow cooks, and embark on a culinary journey that celebrates the beauty and flavors of Africa. Start your cooking adventure with [Your App Name] today!

    Happy cooking and bon appétit!
  </p>
{% endblock %}

