/* style.css */

body {
  background-image: url(bg5.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.container-fluid {
  height: calc(100vh - 0px); /* Adjust the value based on your navbar height */
  overflow-y: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

}

.app-heading {
  text-align: center;
  color: #4d2600;
}



